Social media/YT_Scriptwriter.json
{
  "name": "YT Scriptwriter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8f94ce66-e066-472c-8eb6-d85789e5cef3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "ce34312d-3749-4013-818a-bc0852701929",
      "name": "Webhook",
      "webhookId": "8f94ce66-e066-472c-8eb6-d85789e5cef3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=query:{{ $('Webhook').item.json.body.title }}\nniche:{{ $('Webhook').item.json.body.niche }}\ntarget audience:{{ $('Webhook').item.json.body.targetAudience }}",
        "options": {
          "systemMessage": "=You are a viral youtube shorts scriptwriter who writes detailed youtube for various niches and according to the trends in the market in conversational and storytelling tone which grabs the attention of viewers\n\nYou are given with\nquery, niche and target audience based on that details research the trends and write the viral youtube scripts with a strong attention grabbing hook\n\nUse Web search tool for research purposes to know the viral trend in the market and write the scripts accordingly\n\n# Don't write generic boring scripts and don't use some use vague words or any complicated words that is difficult to read or understand and make sure the user don't felt like the script is generated by AI\n\ngive the output of the script in this way\n\nHook\n example - (Do this to go viral in USA )\n\nMain script\n  (2 min long script for youtube shorts)\n\nTitle (catchy and seo optimized)\n  example - (Use this 5 methods to start a USA channel)\n\nNiche\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        460,
        0
      ],
      "id": "6b91729c-b625-411a-ae9c-9be5b6dc7efe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.body.title }} in {{ $json.body.niche }} niche for targeting {{ $json.body.targetAudience }} audience\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        680,
        220
      ],
      "id": "f239b339-0e87-4035-847c-a37d571906cc",
      "name": "web search"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        220
      ],
      "id": "db041a44-3f63-4927-aebc-781b7e6e0c72",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eAtLubPZWKpbiIWz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        840,
        0
      ],
      "id": "c202cb55-0487-4ee2-bf31-5b343042e736",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "web search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11723e23-f20d-4791-8b7c-fbc0d6fb9f12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e339f61095fe8ebf8d14b69dc87593ea5879729d658b948550957eac39461e0"
  },
  "id": "wuAK8st689eQQGHu",
  "tags": []
}