outreach system/Auto gmail labeling.json
{
  "name": "Auto gmail labeling",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "00ed63ec-5564-4b3c-9fdc-b07a58ffe62e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1264,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "b3354cf3-aa9d-4a98-9201-c0a19c97eb8d",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3840,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2f466934-e257-4315-8a7f-5e3dde987430",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.labelIds[2] }}",
              "rightValue": "={{ $json.labelIds[2] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "daa8bc93-62ad-4f44-8e02-9d51fd84ecd6",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1712,
        320
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "ed48c840-3154-4081-a819-8e7745ed20e3",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1920,
        224
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": false,
        "filters": {
          "readStatus": "both"
        },
        "options": {}
      },
      "id": "2707e61b-43e0-4472-afc4-99a5eed317c8",
      "name": "Gmail - Get All Messages",
      "type": "n8n-nodes-base.gmail",
      "position": [
        720,
        352
      ],
      "webhookId": "a501a86b-b2df-45ec-b0d9-178765859a0f",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "V95KRVgM4r2SewcV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "id": "00799e95-ecc5-473f-b09e-24834ee466b9",
      "name": "Gmail - Single Message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1504,
        288
      ],
      "webhookId": "ebc7d7c4-aece-4cd4-a46f-dff18891931e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "V95KRVgM4r2SewcV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "91c75e44-4c41-4dfe-8d81-24dbbcc422d0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        512,
        352
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e246278-eccb-4cd5-8c93-7daa824066e3",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "06e5dde5-dfce-4d4d-859d-b364301cb5aa",
              "name": "from",
              "type": "string",
              "value": "={{ $json.headers.from }}"
            },
            {
              "id": "e10231b9-fbb1-447a-a3fc-3ba8e5a9d314",
              "name": "headers.subject",
              "type": "string",
              "value": "={{ $json.headers.subject }}"
            },
            {
              "id": "6a472d41-0f6e-4803-8d94-4b4f8272e66c",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "21599fcf-4cc0-436b-bb43-b76c1ca778f8",
      "name": "Extract Email Data",
      "type": "n8n-nodes-base.set",
      "position": [
        2144,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the email details:\nFrom: { $('Merge').item.json.headers.from }}\nSubject line: {{ $json.headers.subject }}\nEmail Body: \n{{ $json.text }}",
        "options": {
          "systemMessage": "=You are my Personal Email Labeler.  \nWhen I feed you the subject and body of a new email, you must assign exactly one label—no extra text.\n\nAvailable labels:\n- Newsletter  \n- Inquiry  \n- Invoice  \n- Proposal  \n- Action Required  \n- Follow-up Reminder  \n- Task  \n- Personal  \n- Urgent  \n- Bank  \n- Job Update  \n- Spam / Junk  \n- Social / Networking  \n- Receipt  \n- Event Invite  \n- Subscription Renewal  \n- System Notification  \n\nLabel definitions:\n1. Newsletter  \n   • Subscription updates, promotions, digests.  \n   • No reply needed—just file away.  \n2. Inquiry  \n   • Sender asks a question or requests information.  \n   • Prioritize and suggest replying.  \n3. Invoice  \n   • Billing, receipts, payment requests.  \n   • Flag if payment is due.  \n4. Proposal  \n   • Business offers, contracts, collaboration pitches.  \n   • Flag for review; consider acknowledging receipt.  \n5. Action Required  \n   • Requests that demand you do something (book, confirm, complete).  \n   • Mark and suggest a reminder.  \n6. Follow-up Reminder  \n   • Emails reminding you of something pending or that you already acted on.  \n   • Suggest checking status or pinging again.  \n7. Task  \n   • Contains to-do items or project steps.  \n   • Extract tasks, prioritize by deadline.  \n8. Personal  \n   • From friends or family; non-work.  \n   • Keep accessible but low urgency unless marked urgent.  \n9. Urgent  \n   • Critical deadlines, emergencies, time-sensitive.  \n   • Bump to top of your inbox; reply ASAP.  \n10. Bank  \n    • Statements, alerts, transaction notices, fraud warnings from your bank.  \n    • Flag if action is needed (e.g., verify, transfer, dispute).  \n11. Job Update  \n    • Direct messages from recruiters/HR or alerts from job portals (LinkedIn, Naukri, etc.).  \n    • Flag as relevant opportunity; suggest acknowledging or bookmarking.  \n12. Spam / Junk  \n    • Unwanted bulk mail, phishing attempts, obvious ads.  \n    • Auto-archive or delete.  \n13. Social / Networking  \n    • Notifications from social sites (GitHub, Twitter, forums) not job-related.  \n    • File separately from Job Update.  \n14. Receipt  \n    • E-commerce order confirmations, tickets, one-off purchase receipts.  \n    • Archive after processing.  \n15. Event Invite  \n    • Calendar invitations or RSVPs (Google Meet, Zoom, Outlook).  \n    • Accept/decline or add to calendar.  \n16. Subscription Renewal  \n    • Reminders for software licenses, memberships, domain renewals.  \n    • Flag for manual renewal.  \n17. System Notification  \n    • Alerts from monitoring tools, CI/CD, cloud services, security scanners.  \n    • Triage or forward to team channel.\n\nRules:\n- Read subject + body.  \n- Choose the single best label.  \n- Output **only** that label."
        }
      },
      "id": "d0f31916-21e2-4b18-9f81-55757c40400a",
      "name": "Categorize Email with AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2368,
        128
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2494d69d-3e5e-42ba-88d2-b76ca1962881",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1888ee28-460f-4116-8ded-e29a26b5de39",
      "name": "Store AI Category",
      "type": "n8n-nodes-base.set",
      "position": [
        2752,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "id": "53dec2f2-c143-4ae4-8aee-005882d3c34a",
      "name": "List All Gmail Labels",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2960,
        320
      ],
      "webhookId": "5c3cbc0b-9239-4a17-a8ec-bc8819341e47",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "V95KRVgM4r2SewcV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "output",
              "field2": "name"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {
          "multipleMatches": "first"
        }
      },
      "id": "47bed95f-059a-4ce3-a1f6-fa890f04e2a1",
      "name": "Check if Label Exists",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        3184,
        208
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Extract Email Data').item.json.id }}",
        "labelIds": "={{ $json.different.id.inputB }}"
      },
      "id": "9194ecd8-497b-4a75-9d86-874c15ffb9d8",
      "name": "Apply Label to Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3632,
        320
      ],
      "webhookId": "4a35699e-da45-48e9-8e12-d22b2dcca62e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "V95KRVgM4r2SewcV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "={{ $('Store AI Category').item.json.output }}",
        "options": {}
      },
      "id": "1f4f42a6-57fe-4419-8aa5-1d57b208f34e",
      "name": "Apply New Label",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3408,
        128
      ],
      "webhookId": "a6722fdc-15cb-4796-b82d-53cc23060640",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "V95KRVgM4r2SewcV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Extract Email Data').item.json.id }}",
        "labelIds": "={{ $json.id }}"
      },
      "id": "fd115c3d-c026-4643-8435-071889475ee2",
      "name": "Create New Label",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3632,
        128
      ],
      "webhookId": "9e401ad8-b89c-4015-a3cf-b1000ac51ae1",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "V95KRVgM4r2SewcV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-nano",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "id": "6d75b3a6-79fc-4e04-b22a-6f0222380688",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2448,
        352
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "nZKXPr9EcYPRZwCs",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const excludedLabelIds = [\n  \"Label_5\",   // Newsletter\n  \"Label_21\",  // Inquiry\n  \"Label_11\",  // Invoice\n  \"Label_9\",   // Proposal\n  \"Label_52\",  // Action Required\n  \"Label_55\",  // Follow-up Reminder\n  \"Label_53\",  // Task\n  \"Label_44\",  // Personal\n  \"Label_54\",  // Urgent\n  \"Label_12\",  // Bank\n  \"Label_3\",   // Job Update\n  \"Label_42\",  // Spam / Junk\n  \"Label_7\",   // Social / Networking\n  \"Label_8\",   // Receipt\n  \"Label_2\",   // Event Invite\n  \"Label_10\",  // Subscription Renewal\n  \"Label_4\"    // System Notification\n];\n\n\nreturn items.filter(item => {\n  const labels = item.json.labelIds || [];\n  // Exclude if ANY excluded label is present\n  return !labels.some(label => excludedLabelIds.includes(label));\n});\n"
      },
      "id": "034e70d5-0dfd-42d2-9955-00d3b733a917",
      "name": "Filter Emails Without Excluded Labels",
      "type": "n8n-nodes-base.code",
      "position": [
        944,
        352
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply New Label": {
      "main": [
        [
          {
            "node": "Create New Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Gmail - Single Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Label": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail - Get All Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Categorize Email with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Store AI Category": {
      "main": [
        [
          {
            "node": "Check if Label Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "List All Gmail Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Data": {
      "main": [
        [
          {
            "node": "Categorize Email with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Label to Email": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Label Exists": {
      "main": [
        [
          {
            "node": "Apply New Label",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Apply Label to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Gmail Labels": {
      "main": [
        [
          {
            "node": "Check if Label Exists",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gmail - Single Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Email with AI": {
      "main": [
        [
          {
            "node": "Store AI Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Get All Messages": {
      "main": [
        [
          {
            "node": "Filter Emails Without Excluded Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Emails Without Excluded Labels": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f19e80f0-3914-4b63-bbed-8887f6fa9e04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfd570963f66daa8de8ab1ade05392186cc69eddd54632309bd587c2faeb7e2b"
  },
  "id": "Bk6eG8Cmr7HnsYtD",
  "tags": []
}